bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.WireGuardTools/.idea/indexLayout.xml
/.idea/.idea.WireGuardTools/.idea/.gitignore
/.idea/.idea.WireGuardTools/.idea/encodings.xml
/.idea/.idea.WireGuardTools/.idea/misc.xml
/.idea/.idea.WireGuardTools/.idea/vcs.xml
/WireGuardTools.sln.DotSettings.user
